.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.navbar-toggler {
  background-color: #fff;
}

.nav-link {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ccc;
}