.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #121212;
    box-shadow: 0 0 5px #121212;
  }
  
  .form-label {
    font-size: 14px;
    color: #121212;
  }
  
  .btn-primary {
    background-color: #121212;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #d7d718;
  }